.navigation {
  display: flex;
  align-items: center;
}
.navigationLink {
  font-size: 20px;
  color: black;
  margin-right: 10px;
  text-decoration: none;
}
.navigationLinkActive {
  text-decoration: underline;
}
.navigationLink:hover {
  color: blueviolet;
}
